include README.rst
include LICENSE
include AUTHORS
include MANIFEST.in
include REQUIREMENTS
include CHANGES
include INSTALL
include TODO
recursive-include docs *.py *.rst
recursive-include examples *.py *.html *.css *.jpg *.js *.db