<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% block head %}
    <head>
        {% block meta %}
            <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
            <meta http-equiv="content-language" content="en-us" />
            <meta http-equiv="imagetoolbar" content="false" />
            <meta name="robots" content="{% block meta_robots %}index,follow{% endblock %}" />
            <meta name="description" content="{% block meta.description %}{% endblock meta.description %}" />
            <meta name="keywords" content="{% block meta.keywords %}{% endblock meta.keywords %}" />
            <meta name="MSSmartTagsPreventParsing" content="true" />
        {% endblock meta %}

        {% block head.icon %}
            <link rel="icon" type="image/png" href="" />
        {% endblock head.icon %}

        <title>{% block title %}{% endblock title %} : Sillywalks</title>

        {% block js.head %}{% endblock %}

        {% block css %}
            <link rel="stylesheet" href="{{ MEDIA_URL }}css/base.css" type="text/css" />
            <link rel="stylesheet" href="{{ MEDIA_URL }}uni_form/uni-form-generic.css" />
            <link rel="stylesheet" href="{{ MEDIA_URL }}uni_form/uni-form.css" />
        {% endblock css%}
    </head>
{% endblock head %}

<body>
    <center>
        <div class="body_center">
            <a href="{% url sillywalks_index %}"><div class="header"></div></a>
            <div class="body_center_container">
                {% block body_content %}
                    <div class=item_container>
                        {% block pluggable_content %}
                        {% endblock %}
                    </div>
                {% endblock %}
                <div class=item_container><a href="{% url index %}">Home</a> | <a href="{% url sillywalks_index %}">SillyWalks</a></div>
            </div>
        </div>
    </center>

    {% block js %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}uni_form/uni-form.jquery.js"></script>
    {% endblock js%}
</body>
</html>
