{% extends "base.html" %}

{% block body_content %}
    <h2>{{ sillywalk.name }}</h2>
    <p>{{ sillywalk.description }}</p>
    <object width="425" height="344"><param name="movie" value="{{ sillywalk.video_url }}"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="{{ sillywalk.video_url }}" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed></object>
    {% block pluggable_content %}{% endblock %}
{% endblock %}
