{% extends "sillywalks/base.html" %}

{% block body_content %}
    {{ block.super }}
    <div class=item_container><a href="{% url sillywalks_create %}">Create a New Walk</a></div>
    {% for sillywalk in sillywalks %}
        <div class=item_container>
            <h2><a href="{% url sillywalks_view sillywalk.slug %}">{{ sillywalk.title }}</a></h2>
            <p>{{ sillywalk.description|safe }}</p>
        </div>
    {% empty %}
       <div class="item_container">No silly walks available!</div>
    {% endfor %}
{% endblock %}
