{% extends base_template %}

{% load pluggables %}
{% load uni_form %}

{% block pluggable_content %}

<h3>Complaints</h3>
<ul>
{% for complaint in complaints %}
    <li>
        {{ complaint.description }}
        <p>
            <a href="{% pluggable_url complaints_edit complaint_id=complaint.id %}">Edit</a> |
            <a href="{% pluggable_url complaints_delete complaint_id=complaint.id %}">Delete</a>
        </p>
    </li>
{% endfor %}
</ul>

<form action="{% pluggable_url complaints_create %}" method="post" class="uniForm">
    <h4> Create a Complaint</h4>
    {{ form|as_uni_form }}
    <input type="submit" value="Complain" />
</form>
{% endblock %}
